@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200&display=swap');

body {
  font-family: $font-family-sans-seif;
  font-size: 1rem;
  color: $color-text;
}

a {
  text-decoration: none;
  color: $color-text;
}

a:hover {
  text-decoration: underline;
  color: $color-primary;
}
