$--fontFamily: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
$--color-text: #2f495e;
$--color-primary: #5bc8ac;

body {
  font-family: $--fontFamily;
  font-size: 1rem;
  color: $--color-text;
}

a {
  text-decoration: none;
  color: $--color-text;
}

a:hover {
  text-decoration: underline;
}
